/* Import Fonts & Tailwind */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* Dark Mode Variant */
@custom-variant dark (&:where(.dark, .dark *));


/* Colors */

/* Loader */
@theme {
  --color-light-loader: #111111;
  --color-dark-loader: #ffffff;
}

/* Dark Theme */
@theme {
  --color-dark-primary: #2C2A2D;
  --color-dark-primary-dull: #3C474D;
  --color-dark-text: #ffffff;
}

/* Light Theme */
@theme {
  --color-light-primary: #D3D3D3;
  --color-light-primary-dull: #F0F0F0;
  --color-light-text: #000000;
  
}

/* Task Status Colors */
@theme {
  --color-pending-status: #f87171;
  --color-inprogress-status: #facc15;
  --color-complete-status: #4ade80;
  --color-text-status: #1b1b1c;
}


/* Global Styles */

body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

/* Hide Scrollbar */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

/* Remove default number input spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}